@media screen and (min-width: 746px ) and (max-width: 992px){

    #container{
        
    }
    
    #content{
        padding-top: 50px;
        padding-left: 5%;
    }
    
    #content > h1{
        font-weight: 450;
        font-size: 5vw;
        margin-top: 60px;
    }
    
    #content > p{
        font-size: 2.4vw;
    }
    
    #new > h1{
        font-size: 4.7vw;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cards{
        margin: auto;
    }
    
    #desired > h1{
        font-size: 4.7vw;
    }

    .suits > img{
        width: 350px;
        transition: 0.5s ease;
    }

    #text-promo{
        padding-top: 5em;
    }
    
    #text-promo > h1{
        font-size: 3vw;
    }
    
    #text-promo > h4{
        font-size: 4.5vw;
    }

    #button-promo{
        font-size: 3vw;
        padding: 1rem 2rem 1rem 2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 2506px){

    #content{
        max-width: 1200px;
        width: 22%;
        padding-top: 50px;
        padding-left: 5%;
    }
    
    #content > h1{
        font-size: 4vw;
        margin-top: 60px;
    }
    
    #content > p{
        font-size: 1.6vw;
    }

    button{
        width: 100%;
        padding: 0.8rem 2rem 1rem 2rem;
        font-size: 1.2em;
    }
    
    #new > h1{
        font-size: 3em;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #container-cards{
        display: flex;
        flex: wrap;
        justify-content: center;
        gap: 2vw;
        padding: 0 1vw;
    }

    #buybutton{
        display: none;
    }

    #desired > h1{
        font-size: 3em;
    }

    .suits > img{
        width: 450px;
        transition: 0.5s ease;
    }

    #promotion{
        background: url('../img/fundo3.jpg') no-repeat;
        background-size: cover;
    }

    #text-promo{
        max-width: 1400px;
        padding-top: 4em;
        padding-left: 4em;
    }
    
    #text-promo > h1{
        font-size: 2em;
    }
    
    #text-promo > h4{
        font-size: 3em;
    }

    #button-promo{
        font-size: 2vw;
        padding: 1rem 2rem 1rem 2rem;
    }
}