@media screen and (min-width: 768px ) and (max-width: 1090px){

    header{
        width: 100%;
        transition: all .35s ease;
    }

    #logo{
        margin-left: 10px;
    }

    #content{
        padding-top: 50px;
        padding-left: 5%;
    }
    
    #content h1{
        font-weight: 450;
        font-size: 5vw;
        margin-top: 60px;
    }
    
    #content p{
        font-size: 2.4vw;
    }
    
    #highlights h1{
        font-size: 4.7vw;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    #desired h1{
        font-size: 4.7vw;
    }

    #text-promo{
        padding-top: 5em;
    }
    
    #text-promo h1{
        font-size: 3vw;
    }
    
    #text-promo h4{
        font-size: 4.5vw;
    }

    #button-promo{
        font-size: 3vw;
        padding: 1rem 2rem 1rem 2rem;
    }
}

@media screen and (min-width: 1090px) and (max-width: 2506px){

    header{
        width: 100%;
    }

    #logo{
        text-align: left;
        margin-left: 10px;
    }

    #img{
        display: none;
    }

    #bag{
        font-size: 2rem;
        margin-right: 10px;
    }

    #links{
        display: block;
    }

    #links ul{
        display: flex;   
        justify-content: center;
        margin-top: -70px; 
        gap: 1rem;
    }

    #links ul li a{
        font-size: 1rem; 
    }

    hr{
        margin-top: 17px;
    }

    #container-home{
        background: url('../img/portrait-of-handsome-confident-stylish-hipster-lambersexual-model-sexy-modern-man-dressed-in-black-elegant-suit-fashion-male-posing-in-studio-on-white-background.jpg');
    }

    #content{
        max-width: 1200px;
        width: 22%;
        padding-top: 50px;
        padding-left: 5%;
    }
    
    #content h1{
        font-size: 4vw;
        margin-top: 60px;
    }
    
    #content p{
        font-size: 1.6vw;
    }

    button{
        width: 100%;
        padding: 0.8rem 2rem 1rem 2rem;
        font-size: 1.2em;
    }
    
    #highlights h1{
        font-size: 3em;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .cards{
        width: 590px;
    }

    #buybutton{
        display: none;
    }

    #desired h1{
        margin-top: 80px;
        margin-bottom: 60px;
        font-size: 3em;
    }   

    #promotion{
        background: url('../img/fundo3.jpg') no-repeat;
        background-size: cover;
    }

    #text-promo{
        max-width: 1400px;
        padding-top: 4em;
        padding-left: 4em;
    }
    
    #text-promo h1{
        font-size: 2em;
    }
    
    #text-promo h4{
        font-size: 3em;
    }

    #button-promo{
        font-size: 2vw;
        padding: 1rem 2rem 1rem 2rem;
    }
}