@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans+Tangsa:wght@400;500&family=Poppins:wght@200;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans+Tangsa:wght@400;500&family=Poppins:wght@200;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
}

header{
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

#logo{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 3px;
}

#img{
    display: flex;
    position: absolute;
    top: -0.1%;
    font-size: 1.7em;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
    color: red;
    width: 1.6em;
    margin: 10px;
}

#links{
    display: none;
}

#links > ul > li{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

a{
    display: flex;
    font-size: 1.1em;
    font-family: 'Noto Sans Tangsa', sans-serif;
    color: #000;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    margin-top: 15px;
}

a:hover{
    text-decoration: underline;
}

#bag{
    font-size: 1.8em;
    float: right;
    margin: 10px;
    margin-top: -42px;
    cursor: pointer;
}

#container{
    background: url('../img/fundo3.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 55vh;
}

#content{
    padding: 12px;
    padding-top: 100px;
}

#content > h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 450;
    font-size: 2.1em;
    margin-top: 60px;
}

#content > p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

button{
    width: 150px;
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.308);
}

button:hover{
    background-color: rgba(201, 195, 195, 0.562);;
}

#new > h1{
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    margin: 50px;
}

#container-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 2em;
}

.cards > img{
    width: 100%;
    height: 700px;
    transition: 0.5s ease
}

.cards > img:hover{
    transform: scale(1) translateY(6px);
    cursor: pointer;
}

.cards > p{
    font-size: 1.1em;
    margin-top: 20px;
}

.cards > h3{
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container-buy{
    text-align: center;
}

#buybutton{
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-size: 1.1em;
    margin-top: 30px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 7px;
}

#buybutton:hover{
    background-color: rgba(201, 195, 195, 0.562);
}

#desired > h1{
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    margin: 50px;
}

#container-suits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 2em;
}

.suits > img{
    width: 230px;
    transition: 0.5s ease;
}

.suits > img:hover{
    transform: scale(1) translateY(5px);
    cursor: pointer;
}

.suits > p{
    margin-top: 10px;
}

#promotion{
    background: url('../img/fundo1.jpg') no-repeat;
    background-size: cover;
    height: 500px;
}

#promotion > h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 450;
    font-size: 2.1em;
    margin-top: 50px;
    padding-top: 100px;
}

footer{
    background-color: #000;
    height: 500px;
    margin-top: 50px;
}

#container-contact{
    text-align: center;
}

#container-contact > h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5em;
    color: #fff;
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
}

#container-contact > h3{
    color: #fff;
    margin: 10px;
    padding-top: 40px;
}

#social > div{
    display: inline-flex;
    margin: 15px;
    margin-top: 37px;
}

#social > div:hover{
    cursor: pointer;
    opacity: 0.8;
}

#social > div > img{
    width: 1.6em;
    height: 1.7em;
}

#contact > h3{
    color: #fff;
    margin: 10px;
    padding-top: 30px;
}

#contact > p{
    color: #fff;
    margin: 10px;
}

#about{
    cursor: pointer;
}

#about:hover{
    text-decoration: underline;
}